* {
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px; /* Fix this to relative */
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px; 
}
.logo a{
    text-decoration: none;
    font-size: 40px; /* extra 30 */
    font-family: 'BigNoodleTitling', sans-serif; 
    color: #fff;
    letter-spacing: 5px;
    border: 2px solid #fff; /* extra */
    border-radius: 5px; /* extra */
    /* border-left: 10px; 
    border-right: 10px ; */
    padding: 1px 1px 1px 5px; /* extra */
}
.bros{
    font-size: 33px;
}
.bmr {
    color: #828282;
    font-size: 28px; 
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: 'BigNoodleTitling', sans-serif; 
    letter-spacing: 4px;
    font-size: 25px;
    margin:  0 10px;
    color: #fff;
}
.content{
    width: 100%;
    padding-top: 100px;
    top: 450px;
    background: #eee;
    height: 650px; /* extra  1500 */
}
.content h2{
    font-family: 'BigNoodleTitling', sans-serif; 
    letter-spacing: 4px;
   /* padding-top: 90px; */
    font-size: 40px;
    margin: 0;
    text-align: center ; /* left */
   /* padding-left: 250px; */
   padding-top: 80px;
}
.content p{
    padding: 2% 0;
    font-family: 'Merienda', sans-serif; 
    line-height: 30px;
}

footer {
    opacity: 70%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding-bottom: 5px;
    background: #eee;
    padding-top: 420px /* extra */
}